<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update person</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/books/{id}(id=${book.getId()})}" th:object="${book}">
    <label for="name">Введите новое название книги: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <label for="author">Введите нове имя автора: </label>
    <input type="text" th:field="*{author}" id="author"/>
    <br>
    <label for="age">Введите новый год издания: </label>
    <input type="text" th:field="*{age}" id="age"/>
    <br>

    <br/>
    <input type="submit" value="Применить изменения"/>
</form>

</body>
</html>